
	<div class="search_bar clearfix">
		<a href="/showindex" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
            <form method="post" action="/searchGoods">

                <input type="text" class="input_text fl" name="goodsName" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="/goods/cart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{.cartCount}}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{{range .goodsType}}
					<li><a href="/list?id={{.Id}}&oder=1" class="{{.Logo}}">{{.Name}}</a></li>
					{{end}}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{.goods.GoodsType.Name}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="http://192.168.110.111:8888/{{.goods.Image}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{.goods.Name}}</h3>
			<p>{{.goods.Desc}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{.goods.Price}}</em></span>
				<span class="show_unit">单  位：{{.goods.Unite}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" skuid="{{.goods.Id}}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{{range .goodsnew}}
					<li>
						<a href="/showcentent?id={{.Id}}"><img src="http://192.168.110.111:8888/{{.Image}}"></a>
						<h4><a href="/showcentent?id={{.Id}}">{{.Name}}</a></h4>
						<div class="prize">￥{{.Price}}</div>
					</li>
					{{end}}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{.goods.Goods.Detail}} </dd>
				</dl>
			</div>

		</div>
	</div>
    <div class="add_jump"></div>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
		updateprice()
		function updateprice() {
			price=$('.show_pirze').children('em').text();
			unite=$('.num_show').val();
            total=parseFloat(price)*parseInt(unite);
			$('.total').children('em').text(total.toFixed(2)+'元')
        }
        $('.minus').click(function () {
            unite=$('.num_show').val();
			unite=parseInt(unite)-1;
			if (unite<1){
                unite=1
			}
			$('.num_show').val(unite);
			updateprice()
        });
        $('.add').click(function () {
            unite=$('.num_show').val();
            unite=parseInt(unite)+1;
			$('.num_show').val(unite);
			updateprice()
        });
		$('.num_show').blur(function () {
			count=$(this).val();
            if(isNaN(count) || count.trim().length == 0||parseInt(count)<1){
                count = 1
            }
            $(this).val(parseInt(count))
			updateprice()
		});

        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;
        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $('.add_jump').css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
        $('#add_cart').click(function(){
		skuid=$('.add_cart').attr('skuid');
		count=$('.num_show').val();
		pram={"skuid":skuid,"count":count};
		$.post('/goods/cart',pram,function (data) {
		    if (data.code==5){
                $('.add_jump').stop().animate({
                            'left': $to_y+7,
                            'top': $to_x+7},
                        	'fast', function() {
                            $('.add_jump').fadeOut('fast',function(){
                                $('#show_count').html(data.cartCount);
                            });
                            $('.add_jump').css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                        });
			}else {
		        alert(data.code)
			}

        })

        })

    </script>
